.button {
  background: none;
  border: none;
  padding: 8px 16px;
  min-width: 100px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  transition: all ease 0.3s;
  cursor: pointer;
  @media (min-width: 769px) {
    font-size: 12px;
  }
  &.button__primary {
    background: $red;
    color: $white;
  }
  &.button__secondary {
    background: $dark-blue;
    color: white;
  }
  &.button__link {
    color: $dark-blue;
  }
  &:disabled {
    background: $gray;
  }
}

.table {
  margin: 0px;
  width: 100%;
  border-collapse: collapse;
  color: $dark-blue;
  thead,
  tbody {
    text-align: left;
  }
  th,
  td {
    padding: 16px 0px;
    vertical-align: middle;
    border-bottom: 1px solid $gray;
  }
  thead {
    th {
      padding: 0px 0px 16px 0px;
      border-bottom: 1px solid $dark-blue;
    }
  }
  .table__align-center {
    text-align: center;
  }
  .table__align-right {
    text-align: right;
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.slideUp-enter-active {
  animation: slideInUp .3s;
}
.slideUp-leave-active {
  animation: slideInUp .3s reverse;
}

// slide down animation
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideDown-enter-active {
  animation: slideInDown .3s;
}
.slideDown-leave-active {
  animation: slideInDown .3s reverse;
}

// slide Right animation

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideRight-enter-active {
  animation: slideInRight .5s;
}
.slideRight-leave-active {
  animation: slideInRight .5s reverse;
}